
= @user.name
様

YUMEBOOKのご利用ありがとうございます。
#{@user.name }様の会員登録が完了しました。

以下のURLよりログイン頂けます。

= link_to @url, @url

このメールに心当たりがない場合やご不明な点がございましたらお問い合わせフォームよりご連絡ください。
= link_to 'YUMEBOOK', 'https://www.yume-book.com'