header
  nav.navbar.navbar-expand-lg.fixed-top.p-2
    .container-fluid
      button.navbar-toggler aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="ナビゲーションの切替" data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button" 
        span.navbar-toggler-icon
      = link_to 'YUMEBOOK', root_path, class: 'navbar-brand', style: 'color:black;'
      #navbarNavDropdown.collapse.navbar-collapse
        .navbar-nav.container-fluid.justify-content-end
          .nav-item
            button.btn.btn-sm.btn-outline-warning type="button" = link_to '日記を書く', new_diary_path, class: 'nav-link active'
          .nav-item.dropdown
            button.btn.btn-outline-warning.ml-3.btn-lg.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" style="color:black;" type="button" 
              = current_user.name
            ul.dropdown-menu aria-labelledby="navbarDropdownMenuLink" 
              li.dropdown-item= link_to current_user.name, '#', class: 'nav-link'
              .dropdown-divider
              li.dropdown-item= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link'
