@import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'index';
@import 'pages';
@import 'toastr/build/toastr.min';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Train+One&display=swap');

body{
    font-family: 'Kosugi', sans-serif;
    color: #333;
    font-weight: 800;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../images/pinksky.jpeg");
    background-size: auto 100%;
}
h1{
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #333;
}
a {
    color: #333;
}
a:hover{
    color: #333;
}

.dreams-index {
    text-align: center;
}

.terms-of-service {
    color: gray;
}

/* header */
.navbar{
    background-color: rgba(255, 255, 255, 0);
    text-decoration: black;
    width: 100%;
    max-width: 100%;
    
    .navbar-brand{
        font-family: 'Train One';
        font-weight: 900;
        margin-left: 2rem;
        text-decoration: none;    
        font-size: 2.5rem;
    }

    .nav-item{
            font-size: 0.5rem;
            transition: all 0.3s ease 0s;

            i {
                font-size: 1.5rem
            }
        }

        .nav-item:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
        }
    .nav-link{
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    .avatar-icon{
        border: solid 2px #333;
        border-radius: 50%;
    }   
}

.datetime{
    font-weight: 200;
}

/* font-awesome */
.back{
    font-size: 2.5rem;
    columns: #333;
    transition: all 0.3s ease 0s;
}
.back:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

i:not(.fa-twitter){
    font-size: 1.5rem;
    color: gray;
    transition: all 0.3s ease 0s;
}

i:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.tweet-button{
    background-color: #329eeb;
    color: white;
}
.tweet-button:hover{
    color: white;
}
i.fas.fa-sign-in-alt,
i.fas.fa-user-plus,
i.fas.fa-pencil-alt,
i.fas.fa-sign-out-alt:hover {
    cursor: pointer;
    transform: none;
}

/* リンク */
.active-link{
    transition: all 0.3s ease 0s;
}
.active-link:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    text-decoration: none !important;
}

.profile-field{
    background-color: white;
    border: solid 5px #333;
    border-radius: 12px;
    padding: 1em;
    
    .dream-title{
        .avatar-icon{
            border: solid 2px #333;
            border-radius: 50%;
            margin-right: 1rem;
            margin-bottom: 1rem;
            transition: all 0.3s ease 0s;
        }
        .avatar-icon:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
        }
    }
}

.profile-link {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 3px 3px 5px #39393980;
}

/* リアクションボタン */

ul.reactions {
    text-decoration:none !important;
    list-style-type: none;
    padding-left: 0 !important;
    font-weight: normal;
    font-size: 0.5rem;
}

.not-reacted{
    color:#A0A0A0;
}
i.fas.fa-heart.liked{
    color:#c71585;
}
i.fas.fa-grin-squint-tears.laughed{
    color:#ffc107;
}
i.fas.fa-tired.cried{
    color: #0099FF;
}
i.fas.fa-flushed.surprised{
    color: #6600CC;
}
i.fas.fa-paw.pawed{
    color: #009900;
}

/* パスワードリセット */
.password-reset {
    line-height: 1rem;
    p{
    text-align: left;
    font-weight: 200;
    margin-bottom: 2rem;
    }
}

/*ページネーション*/
.more-dreams{
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 1rem;
    padding: 1rem 3rem 1rem 3rem;
}
.more-dreams:hover{
    text-decoration: none;
}
  
/* footer */
footer{
    position: absolute;
    font-size: 0.7rem;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

.cushion{
    height: 10rem;
}
