@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "flatpickr/dist/flatpickr.css";
@import 'top';

.nav-link{
    text-decoration: none;
    color: black;
}
.navbar{
    background-color: rgb(10, 83, 10);
    text-decoration: black;
    .navbar-brand{
        font-family: 'Futura';
        font-weight: 900;
        margin-left: 15px;
        text-decoration: none;    
        font-size: 45px;
    }
}
.navbar-toggler{
    background-color: #0A530A;
    border-color: #ffc107;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,193,7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
  }

ul li{
    width: 100%;
}
 