@import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'index';
@import 'pages';
@import 'toastr/build/toastr.min';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Train+One&display=swap');

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #333;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../images/pinksky.jpeg");
    background-size: auto 100%;
}
h1{
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #333;
}

.contents{
    padding-top: 6rem;
}

.table{
    table-layout: fixed;
    /* 文字折り返し */
    overflow-wrap: break-word;
}

/* フラッシュメッセージ */
#toast-container{
    margin-top: 7.2rem;
    div {
        padding: 0.3rem 0.6rem 0.3rem 3rem;
    }
}

/* header */
.navbar{
    background-color: rgba(247, 241, 237, 0.8);
    text-decoration: black;
    width: 100%;
    max-width: 100%;
    
    .navbar-brand{
        font-family: 'Train One';
        font-weight: 900;
        margin-left: 2rem;
        text-decoration: none;    
        font-size: 2.5rem;
    }

    .nav-item{
            font-size: 0.5rem;
            transition: all 0.3s ease 0s;

            i {
                font-size: 1.5rem
            }
        }

        .nav-item:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
        }
    .nav-link{
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    .avatar-icon{
        border: solid 0.125rem #333;
        border-radius: 50%;
    }   
}

/* リンク */
.active-link{
    transition: all 0.3s ease 0s;
}

a {
    color: #333;
}
a:hover{
    color: #333;
}

.active-link:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    text-decoration: none !important;
}

/* footer */
footer{
    position: absolute;
    font-size: 0.7rem;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

.cushion{
    height: 10rem;
}
