.documents{
    h1{
        font-size: 1.7rem;
        font-weight: bold;
    }
    h3 {
        font-size: 1.3rem;
        font-weight: bold;
    }
    p {
        font-weight: normal;
    }
    li {
        font-weight: normal;
    }
    a {
        text-decoration: none;
    }
}