/* show,edit */
.profile-field{
    background-color: white;
    border: solid 0.3rem #333;
    border-radius: 0.75rem;
    padding: 1em;

    .dream-title{
        .avatar-icon{
            border: solid 0.125rem #333;
            border-radius: 50%;
            margin-right: 1rem;
            margin-bottom: 1rem;
            transition: all 0.3s ease 0s;
        }
        .avatar-icon:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
        }
    }
}

/* リアクションボタン */
ul.reactions {
    text-decoration:none !important;
    list-style-type: none;
    padding-left: 0 !important;
    font-weight: normal;
    font-size: 0.5rem;
    z-index: 6;
    position: relative;
    padding-top: 1rem;
    width: 14rem;
    text-align: center;
}
@media(max-width:375px){
    ul.reactions {
        margin-left: 1rem;
    }
}
@media(min-width:376px)and(max-width:450px){
    ul.reactions {
        margin-left: 1rem;
    }
}
@media(min-width:451px)and(max-width:991px){
    ul.reactions {
        margin-left: 4rem;
    }
}
@media(min-width:992px){
    ul.reactions {
        margin-left: 7rem;
    }
}
@media(min-width:1200px){
    ul.reactions {
        margin-left: 9rem;
    }
}
.not-reacted{
    color:#A0A0A0;
}
i.fas.fa-heart.liked{
    color:#c71585;
}
i.fas.fa-grin-squint-tears.laughed{
    color:#ffc107;
}
i.fas.fa-tired.cried{
    color: #0099FF;
}
i.fas.fa-flushed.surprised{
    color: #6600CC;
}
i.fas.fa-paw.pawed{
    color: #009900;
}

/* タグボタン */
.tag-button {
    font-size: 1rem;
    color: #17a3b8c7;
}

.index-tags {
    font-size: 0.7rem;
    color:  #17a3b8c7;
    position: relative;
    bottom: 0.5rem;
    z-index: 6;
}

.own-tags-reactions {
    position:relative;
    top: 2rem;
}

/* パスワードリセット */
.password-reset {
    line-height: 1rem;
    p{
    text-align: left;
    font-weight: 200;
    margin-bottom: 2rem;
    }
}

/* 退会 */
.to-delete {
    font-size: 1rem;
    color: gray;
}

.documents{
    h1{
        font-size: 1.7rem;
        font-weight: bold;
    }
    h3 {
        font-size: 1.3rem;
        font-weight: bold;
    }
    p {
        font-weight: normal;
    }
    li {
        font-weight: normal;
    }
    a {
        text-decoration: none;
    }
}

/* font-awesome */
.back{
    font-size: 2.5rem;
    columns: #333;
    transition: all 0.3s ease 0s;
}
.back:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

i:not(.fa-twitter){
    font-size: 1.5rem;
    color: gray;
    transition: all 0.3s ease 0s;
}

i:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.tweet-button{
    color: #329eeb;
    padding: 0.5rem;
    position:relative;
    font-size: 2rem;

    i.fab.fa-twitter {
        transition: all 0.3s ease 0s;
    }
}
.tweet-button:hover{
    color: #329eeb;
}

i.fas.fa-sign-in-alt,
i.fas.fa-user-plus,
i.fas.fa-pencil-alt,
i.fas.fa-sign-out-alt:hover {
    cursor: pointer;
    transform: none;
}

/* 投稿日時 */
.datetime{
    font-weight: 200;
}

/* 新規登録時の規約チェック */
.terms-of-service {
    color: gray;
}
