h1{
    font-family: 'Futura';
    font-size: 30px;
    font-weight: 900;
    padding-top: 2rem;
    color: black;
    text-shadow: 
        50px 0px 5px #ffffff,
        -0px 30px 5px #ffffff,
        30px -30px 5px #ffffff,
        -30px -10px 5px #ffffff,
        30px 20px 5px #ffffff,
        50px 30px 5px #ffffff,
        -20px 0px 5px #ffffff,
        10px -30px 5px #ffffff;
    }
    p{
        text-align: center;
        text-shadow: 
        10px  10px 5px #ffffff,
        -10px  10px 5px #ffffff,
        10px -10px 5px #ffffff,
        -10px -10px 5px #ffffff,
        10px  0px 5px #ffffff,
        0px  10px 5px #ffffff,
        -10px  0px 5px #ffffff,
        0px -10px 5px #ffffff; 
    }

.latest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 1rem auto;
    
    .avatar-icon{
        max-width: 100%;
        position: absolute;
        left: -2rem;
        top: 1.2rem;
        display: block;
        margin: 0 auto;
        border: solid 2px #333;
        border-radius: 50%;
        transition: all 0.3s ease 0s;
    }
    .avatar-icon:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1);
        text-decoration:none !important;
    }
  /* 吹き出し本体 */
    .latest-dream {
        position: relative;
        display: inline-block;
        margin-bottom: 0.5rem;
        padding: 20px 20px;
        min-width: 100px;
        max-width: 70%;
        color: #333;
        font-size: 16px;
        background: #fff;
        border: solid 5px #333;
        box-sizing: border-box;
        border-radius: 12px;
        width: 65%;
        transition: all 0.3s ease 0s;
    }
    .latest-dream:hover{
        cursor: pointer;
        transform: scale(1.05, 1.05);
        text-decoration:none !important;
    }
    .latest-dream:before{
        content: "";
        position: absolute;
        top: 50%;
        left: -24px;
        margin-top: -12px;
        border: 12px solid transparent;
        border-right: 19px solid #fff;
        z-index: 2;
    }
    .latest-dream:after{
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -14px;
        border: 14px solid transparent;
        border-right: 14px solid #333;
        z-index: 1;
    }
    .latest-dream p {
        margin: 0;
        padding: 0;
    }
}
