h1.title-text{
    font-size: 2rem;
    font-weight: 900;
    padding-top: 2rem;
    color: #fff000;
    background-color: #19a5d0;
    border-radius: 14px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    }
    
    p{
        text-align: center;
        text-shadow: 
            5px  5px 0px #ffffff,
            -5px  5px 0px #ffffff,
            5px -5px 0px #ffffff,
            -5px -5px 0px #ffffff,
            5px  0px 0px #ffffff,
            0px  5px 0px #ffffff,
            -5px  0px 0px #ffffff,
            0px -5px 0px #ffffff; 
    }

.latest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115%;
    position: relative;
    margin: 1rem auto;
    
    .avatar-icon{
        max-width: 100%;
        position: absolute;
        left: -2rem;
        top: 1.2rem;
        display: block;
        margin: 0 auto;
        border: solid 2px #333;
        border-radius: 50%;
        transition: all 0.3s ease 0s;
    }
    .avatar-icon:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1);
        text-decoration:none !important;
    }
  /* 吹き出し本体 */
    .latest-dream {
        position: relative;
        display: inline-block;
        margin-bottom: 0.5rem;
        padding: 20px 20px;
        min-width: 100px;
        max-width: 90%;
        color: #333;
        font-size: 16px;
        background: #fff;
        border: solid 5px #333;
        box-sizing: border-box;
        border-radius: 12px;
        width: 65%;
        transition: all 0.3s ease 0s;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .582);
    }
    .latest-dream:hover{
        cursor: pointer;
        transform: scale(1.05, 1.05);
    }
    .latest-dream:before{
        content: "";
        position: absolute;
        top: 50%;
        left: -24px;
        margin-top: -12px;
        border: 12px solid transparent;
        border-right: 19px solid #fff;
        z-index: 2;
    }
    .latest-dream:after{
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -14px;
        border: 14px solid transparent;
        border-right: 14px solid #333;
        z-index: 1;
    }
    .latest-dream p {
        margin: 0;
        padding: 0;
    }
}

.toppage-item{
    border: solid 5px #333;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.582);
    transition: all 0.3s ease 0s;
    display: block;
}

.toppage-item:hover{
    cursor: pointer;
    transform: scale(1.05, 1.05);
    text-decoration:none;
}